.navbar{
    display: block;
    background-color: #a6a6a6;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li{
    display: inline;
    float: left;
    padding: .5em;
}

.navbar .login{
    float: right
}

body{
    font-family: 'Helvetica', 'Arial', sans-serif;
}

main{
    display: block;
}

article{
    border: 2px solid;
    border-radius: 1em;
    margin: .5em;
    padding: 1em;
}

h3{
    margin: 0;
}

.date_event{
    color: #313131;
    font-size: .75em;
}

/* p{
    display: inline-block;
    margin: 0;
} */

a{
    text-decoration: none;
    color: black;
}

.separator-div{
    margin: 0 2em 1em;
}

.separator-div p{
    font-size: .75em;
    margin-bottom: 0;
}

.separator-div hr{
    margin: 0;
}

.login-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 2px black;
    padding: 1em;
    min-width: 20em;
}

.login-box input{
    width: 100%;
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
}

.login-box a{
    text-decoration: underline;
    float: right;
}

.login-box p{
    color: red;
    margin: 0 0 .5em;
    font-size: .9em;
    height: .9em;
}

.login-box input.error{
    border-color: red;
}

main.login{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em 0;
}

.block {
    display: block;
}