.navbar{
    display: block;
    background-color: #a6a6a6;
}

@media print{
    .navbar{
        display: none;
    }
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li{
    display: inline;
    float: left;
    padding: .5em;
}

.navbar .login{
    float: right
}

body{
    font-family: 'Helvetica', 'Arial', sans-serif;
}

main{
    display: block;
}

article{
    border: 2px solid;
    border-radius: 1em;
    margin: .5em;
    padding: 1em;
}

h3{
    margin: 0;
}

.date_event{
    color: #313131;
    font-size: .75em;
}

/* p{
    display: inline-block;
    margin: 0;
} */

a{
    text-decoration: none;
    color: black;
}

.comp a{
    text-decoration: underline;
}

.separator-div{
    margin: 0 2em 1em;
}

.separator-div p{
    font-size: .75em;
    margin-bottom: 0;
}

.separator-div hr{
    margin: 0;
}

.login-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 2px black;
    padding: 1em;
    width: 35vw;
    max-width: 23em;
}

.login-box input, .login-box textarea{
    width: 100%;
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
}

.login-box a{
    text-decoration: underline;
    float: right;
}

.login-box p{
    color: red;
    margin: 0 0 .5em;
    font-size: .9em;
    height: .9em;
}

.login-box label{
    display: block;
}

.login-box input.error{
    border-color: red;
}

main.login{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3em;
}

.comp-name-line p, .comp-name-line h2{
    display: inline-block;
    margin: 1em 0 0 0
}

.comp-name-line h2{
    margin: .4em 0 0;
}

.comp hr{
    margin-top: 0;
}

.results{
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.tooltip {
    position: relative;
    display: inline-block;
    color: gray;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 6em;
    background-color: #eaeaea;
    color: #000000;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: -1em;
    left: 150%;
    font-size: .75em;
    box-shadow: 1px 1px 2px black;
}
  
  /* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.comp .comp-info{
    display: block;
}

.comp .results th{
    padding: .4em 1em 0;
    border-bottom: black 1px solid;
}

.comp .results td{
    text-align: center;
    padding: .4em 0 0;
    border: black 1px solid;
    border-left: none;
    border-right: none;
}

.comp .results table{
    border-collapse: collapse;
}

main.add-comp{
    display: flex;
    padding: 1em 1em;
}

.add-comp .login-box > div{
    margin-bottom: 1em;
}

.add-comp .login-box{
    min-width: 50vw;
    border: none;
}

textarea{
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.comp .row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.comp .col{
    flex: 20%;
    padding: 0 4px;
}

.comp .col img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
